java:
  source_url: http://download.oracle.com/otn-pub/java/jdk/8u45-b14/jdk-8u45-linux-x64.rpm
  version_name: jdk1.8.0_45
  prefix: /usr/java
  dl_opts: -b oraclelicense=accept-securebackup-cookie -L

# java:version_name is the name of the top-level directory installed by the RPM
# java:prefix is where the RPM is unpacked into - prefix/version_name being
#             the location of the jdk
# java:dl_opts - cli args to cURL